#bizAddress ::before {
  border-bottom-style: hidden !important;
}
#bizAddress ::after {
  border-bottom-style: hidden !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 7px 14px;
}
#searchBtn,
#resetBtn {
  margin-top: 2rem;
}
header {
  background-color: crimson;
}
main {
  background-color: beige;
}
footer {
  /* background-color: rgb(0, 123, 255); */
  background-color: rgb(31, 173, 31);
}
